@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="myElement">Loading the player...</div>
@section scripts{
    <script src="~/Content/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">
        jwplayer("myElement").setup({
            file: "/VideoExample/101554_00_01_SC03_welcome.webm",
            //file: "https://www.youtube.com/watch?v=qjhr8qwPgfc",
            image: "/VideoExample/end-anime-espoide.jpg",
            tracks: [
              { file: "/VideoExample/101554_00_01_SC03_welcome.srt", label: "English", kind: "subtitles" },
              { file: "/VideoExample/101554_00_01_SC03_welcome-cn.srt", label: "Chinese", kind: "subtitles" },
              { file: "/VideoExample/test.vtt", label: "Test", kind: "subtitles" }
            ],
            primary: "html5"
        });
    </script>
}